<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>SignUp Form</title> 
  
  
</head>

<body>
  <html>

  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    body {
      background: #fff;
    }
    </style>
  </head>

  <body>
    <div class="section"></div>
    <main>
      <center>
        <div class="section"></div>

        <h5 class="indigo-text">Register</h5>
        <div class="section"></div>

        <div class="container">
          <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

            <form class="col s12" method="post" action="/register/" enctype="multipart/form-data" >{% csrf_token %}

              <div class='row'>
                <div class='input-field col s12'>
                  <label class=" col-sm-2" for="id_firstname">First Name:</label> 
                  <input id="id_firstname" maxlength="50" name="firstname" type="text" class="form-control" />
                </div>
              </div>
              <div class='row'>
                <div class='input-field col s12'>
                  <label class=" col-sm-2" for="id_lastname">Last Name:</label> 
                  <input id="id_lastname" maxlength="50" name="lastname" type="text" class="form-control" />
                </div>
              </div>
              <div class='row'>
                <div class='input-field col s12'>
                  <label for="id_email" class=" col-sm-2" >Email:</label> 
                  <input id="id_email" maxlength="200" name="email" type="text" class="form-control"/>
                </div>
              </div>
              <div class='row'>
                <div class='input-field col s12'>
                 <label for="id_password" class=" col-sm-2">Password:</label>
                 <input id="id_password" maxlength="200" name="password" type="text" class="form-control"/>
               </div>
             </div>
             <br />
             <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Register</button>
              </div>
              <div class='pink-text'><b>{{ msg }}</b></div>
            </center>
          </form>
        </div>
      </div>
      <a href="/login">Already Registered? Login Here</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>
